<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Gus Quintini · I solve problems · Toronto, Ontario</title>
  <meta name="description" content="A professional child show casing his graphic designs for humans all around the world.">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="shortcut icon" href="img/favicon.png">
  <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Patrick+Hand+SC" rel="stylesheet">
  <link href="{{site.baseurl}}/css/type.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/module.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
</head>
<body>

  {{content}}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js"></script>
  <script src="{{site.baseurl}}/js/main.js"></script>
</body>
</html>
